import("methods", "rJava", "R2DOC")
exportClasses("Docx")
exportMethods("addPlot","addImage","addTOC","styles","setHeaderStyle"
,"writeDoc","addParagraph","addTable","addHeader","addPageBreak","addLineBreak")
export("replaceText")